flows2.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "824bd40bc4b367cd",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f5a72c31ad56e0fb",
        "type": "tab",
        "label": "Flow 6",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea1982d682e9e8d5",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "91bde866fc672318",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "428ab198a5678f06",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "96f31bcacf3f2b9b",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8cb95c810424a70e",
        "type": "tab",
        "label": "Flow 8",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e5150821b28b59a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "iot-platform_mosquitto_1",
        "port": "1883",
        "clientid": "node-red",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e3bac82c62f7412e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "iot-platform_mysql_1",
        "port": "3306",
        "db": "tSeriesDB",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "18c36919eeee5d0a",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/pub/:topic/:payload",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "b1918d490bf9609b"
            ]
        ]
    },
    {
        "id": "a1c56592860afa32",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e5150821b28b59a",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "b1918d490bf9609b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "create_message",
        "func": "msg.topic = msg.req.params.topic.toString();\nmsg.payload = msg.req.params.payload.toString();\nmsg.qos = 2;\nmsg.retain = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 460,
        "wires": [
            [
                "a1c56592860afa32",
                "34e1fbb81e2be60f"
            ]
        ]
    },
    {
        "id": "34e1fbb81e2be60f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "create_response",
        "func": "msg.payload = {\n    success: true,\n    message: \"published \" +\n    msg.req.params.topic +\n    \"/\" +\n    msg.req.params.payload\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 460,
        "wires": [
            [
                "a0c12a8d0fe451a8"
            ]
        ]
    },
    {
        "id": "a0c12a8d0fe451a8",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 460,
        "wires": []
    },
    {
        "id": "f290313d6b52d7e8",
        "type": "mqtt in",
        "z": "824bd40bc4b367cd",
        "name": "listen_everything",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "4e5150821b28b59a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "bb20371ea8423d4b"
            ]
        ]
    },
    {
        "id": "e084948f0051c2ec",
        "type": "debug",
        "z": "824bd40bc4b367cd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "1b6122ebb137cb1b",
        "type": "mysql",
        "z": "824bd40bc4b367cd",
        "mydb": "e3bac82c62f7412e",
        "name": "",
        "x": 660,
        "y": 400,
        "wires": [
            [
                "e084948f0051c2ec"
            ]
        ]
    },
    {
        "id": "bb20371ea8423d4b",
        "type": "function",
        "z": "824bd40bc4b367cd",
        "name": "create_query",
        "func": "// Create query\n// get microtime\nvar timestamp = new Date().getTime()/1000;\n// pad it with trailing zeroes\ntimestamp = timestamp.toString() + \"000\";\n// trim to exact length 10 + 1 + 3\ntimestamp = timestamp.substring(0, 14);\nvar strQuery = \"INSERT INTO thingData (topic, payload, timestamp, deleted) VALUES ('\" + escape(msg.topic) + \"','\" + escape(msg.payload) + \"','\" + timestamp + \"', 0);\";\nmsg.topic = strQuery;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "1b6122ebb137cb1b"
            ]
        ]
    },
    {
        "id": "5e595c486fb104eb",
        "type": "inject",
        "z": "ea1982d682e9e8d5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "132e255d91f0d07e",
                "9dd5d13eff0ccb53"
            ]
        ]
    },
    {
        "id": "132e255d91f0d07e",
        "type": "debug",
        "z": "ea1982d682e9e8d5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "9dd5d13eff0ccb53",
        "type": "mqtt out",
        "z": "ea1982d682e9e8d5",
        "name": "",
        "topic": "timeStamp",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4e5150821b28b59a",
        "x": 760,
        "y": 300,
        "wires": []
    },
    {
        "id": "449b93bf0fed571e",
        "type": "http in",
        "z": "91bde866fc672318",
        "name": "",
        "url": "/get/:topic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 320,
        "y": 280,
        "wires": [
            [
                "3860fde727ce7f87"
            ]
        ]
    },
    {
        "id": "c206c8046013104d",
        "type": "http in",
        "z": "91bde866fc672318",
        "name": "",
        "url": "/get/:topic/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "3860fde727ce7f87"
            ]
        ]
    },
    {
        "id": "3860fde727ce7f87",
        "type": "function",
        "z": "91bde866fc672318",
        "name": "create_query",
        "func": "// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\nmsg.req.params.count = 1;\n// build the sql query\nmsg.topic = \"SELECT id,topic,payload,timestamp \" +\n\"FROM thingData \" +\n\"WHERE topic='\" + escape(msg.req.params.topic) + \"' \" +\n\"AND deleted=0 \" +\n\"ORDER BY id DESC \" +\n\"LIMIT \" + msg.req.params.count + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "484279dd52e22ff7"
            ]
        ]
    },
    {
        "id": "484279dd52e22ff7",
        "type": "mysql",
        "z": "91bde866fc672318",
        "mydb": "e3bac82c62f7412e",
        "name": "",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "98cab04baaf1063c"
            ]
        ]
    },
    {
        "id": "98cab04baaf1063c",
        "type": "function",
        "z": "91bde866fc672318",
        "name": "prepare_response",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 340,
        "wires": [
            [
                "1b3b54989df968fa"
            ]
        ]
    },
    {
        "id": "1b3b54989df968fa",
        "type": "http response",
        "z": "91bde866fc672318",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "a993236db220ef2a",
        "type": "http in",
        "z": "428ab198a5678f06",
        "name": "",
        "url": "/get/topicLike/:topic/payloadLike/:payload/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "ec49147c260466e4"
            ]
        ]
    },
    {
        "id": "ec49147c260466e4",
        "type": "function",
        "z": "428ab198a5678f06",
        "name": "create query",
        "func": "// Create query\n// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\n    msg.req.authFilter = 1;\n// wildcard used for API query is * and this needs to be converted into SQL wildcard character % \nmsg.topic = \"SELECT id,topic,payload,timestamp\" + \" FROM thingData WHERE\" + \" topic LIKE '\" + msg.req.params.topic.replace(/\\*/g, \"%\") + \"'\" + \" AND\" + \" payload LIKE '\" + msg.req.params.payload.replace(/\\*/g, \"%\") + \"'\" + \" AND deleted=0\" + \" AND (\" + msg.req.authFilter + \")\" + \" ORDER BY ID DESC\" + \" LIMIT \" + msg.req.params.count + \";\"; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "70005df5edafe252"
            ]
        ]
    },
    {
        "id": "70005df5edafe252",
        "type": "mysql",
        "z": "428ab198a5678f06",
        "mydb": "e3bac82c62f7412e",
        "name": "",
        "x": 740,
        "y": 260,
        "wires": [
            [
                "36112760942b4b8b"
            ]
        ]
    },
    {
        "id": "36112760942b4b8b",
        "type": "function",
        "z": "428ab198a5678f06",
        "name": "prepare response",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 260,
        "wires": [
            [
                "bc1f1ac8f8deb9af"
            ]
        ]
    },
    {
        "id": "bc1f1ac8f8deb9af",
        "type": "http response",
        "z": "428ab198a5678f06",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1160,
        "y": 260,
        "wires": []
    },
    {
        "id": "f0be864330e0b054",
        "type": "http in",
        "z": "96f31bcacf3f2b9b",
        "name": "",
        "url": "/get/:topic/after/:time/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "27d195423219277c"
            ]
        ]
    },
    {
        "id": "3bd464895d241496",
        "type": "http in",
        "z": "96f31bcacf3f2b9b",
        "name": "",
        "url": "/get/:topic/before/:time/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "48ede8580a592a51"
            ]
        ]
    },
    {
        "id": "496f4cac97069aa3",
        "type": "http in",
        "z": "96f31bcacf3f2b9b",
        "name": "",
        "url": "/get/:topic/during/:start/:end/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "ca8200c845fa272a"
            ]
        ]
    },
    {
        "id": "27d195423219277c",
        "type": "function",
        "z": "96f31bcacf3f2b9b",
        "name": "create 'AFTER' query",
        "func": "// Create 'AFTER' query\n// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\n    msg.req.authFilter = 1;\n// wildcard used for API query is * and this needs to be converted into SQL wildcard character %\nmsg.topic = \"SELECT id,topic,payload,timestamp\" + \" FROM thingData WHERE\" + \" topic LIKE '\" + msg.req.params.topic.replace(/\\*/g, \"%\") + \"'\" + \" AND\" + \" timestamp >= '\" + msg.req.params.time + \"'\" + \" AND deleted=0\" + \" AND (\" + msg.req.authFilter + \")\" + \" ORDER BY ID DESC\" + \" LIMIT \" + msg.req.params.count + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [
            [
                "a731317a0e84856b"
            ]
        ]
    },
    {
        "id": "48ede8580a592a51",
        "type": "function",
        "z": "96f31bcacf3f2b9b",
        "name": "create 'BEFORE' query",
        "func": "// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\n    msg.req.authFilter = 1;\n// wildcard used for API query is * and this needs to be converted into SQL wildcard character %\nmsg.topic = \"SELECT id,topic,payload,timestamp\" + \" FROM thingData WHERE\" + \" topic LIKE '\" + msg.req.params.topic.replace(/\\*/g, \"%\") + \"'\" + \" AND\" + \" timestamp <= '\" + msg.req.params.time + \"'\" + \" AND deleted=0\" + \" AND (\" + msg.req.authFilter + \")\" + \" ORDER BY ID DESC\" + \" LIMIT \" + msg.req.params.count + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 260,
        "wires": [
            [
                "a731317a0e84856b"
            ]
        ]
    },
    {
        "id": "ca8200c845fa272a",
        "type": "function",
        "z": "96f31bcacf3f2b9b",
        "name": "create 'DURING' query",
        "func": "// Create 'DURING' query\n// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\nmsg.req.authFilter = 1;\n// wildcard used for API query is * and this needs to be converted into SQL wildcard character %\nmsg.topic = \"SELECT id,topic,payload,timestamp\" + \" FROM thingData WHERE\" + \" topic LIKE '\" + msg.req.params.topic.replace(/\\*/g, \"%\") + \"'\" + \" AND\" + \" timestamp >= '\" + msg.req.params.start + \"'\" + \" AND\" + \" timestamp <='\" + msg.req.params.end + \"'\" + \" AND deleted=0\" + \" AND (\" + msg.req.authFilter + \")\" + \" ORDER BY ID DESC\" + \" LIMIT \" + msg.req.params.count + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 340,
        "wires": [
            [
                "a731317a0e84856b"
            ]
        ]
    },
    {
        "id": "a731317a0e84856b",
        "type": "mysql",
        "z": "96f31bcacf3f2b9b",
        "mydb": "e3bac82c62f7412e",
        "name": "",
        "x": 860,
        "y": 260,
        "wires": [
            [
                "15822c2a5a557933"
            ]
        ]
    },
    {
        "id": "15822c2a5a557933",
        "type": "function",
        "z": "96f31bcacf3f2b9b",
        "name": "prepare response",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 260,
        "wires": [
            [
                "d583023254331515"
            ]
        ]
    },
    {
        "id": "d583023254331515",
        "type": "http response",
        "z": "96f31bcacf3f2b9b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1290,
        "y": 260,
        "wires": []
    },
    {
        "id": "6259af1d1f45ea0a",
        "type": "http in",
        "z": "8cb95c810424a70e",
        "name": "",
        "url": "/delete/:topic/id/:id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "9650e44d028310d5"
            ]
        ]
    },
    {
        "id": "4f018448ec3b2122",
        "type": "http in",
        "z": "8cb95c810424a70e",
        "name": "",
        "url": "/delete/:topic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "31ad044bd7749024"
            ]
        ]
    },
    {
        "id": "6999d508798e2118",
        "type": "http in",
        "z": "8cb95c810424a70e",
        "name": "",
        "url": "/delete/:topic/last/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 300,
        "wires": [
            [
                "48e1941e985acadc"
            ]
        ]
    },
    {
        "id": "f4ca40db4e0f3236",
        "type": "http in",
        "z": "8cb95c810424a70e",
        "name": "",
        "url": "/delete/:topic/first/:count",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "8b57cdb5bbf8938f"
            ]
        ]
    },
    {
        "id": "9650e44d028310d5",
        "type": "function",
        "z": "8cb95c810424a70e",
        "name": "crate query",
        "func": "// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\nmsg.req.authFilter = 1;\nmsg.topic = \"UPDATE thingData\" +\n\" SET deleted=1\" +\n\" WHERE\" + \" topic='\" + msg.req.params.topic + \"'\" +\n\" AND (\" + msg.req.authFilter + \")\" +\n\" AND id=\" + msg.req.params.id + \";\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 120,
        "wires": [
            [
                "b6ddb1ef4c330b1c"
            ]
        ]
    },
    {
        "id": "31ad044bd7749024",
        "type": "function",
        "z": "8cb95c810424a70e",
        "name": "create query",
        "func": "// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\nmsg.req.authFilter = 1;\nmsg.topic = \"UPDATE thingData\" +\n\" SET deleted=1 \" +\n\" WHERE\" +\n\" topic='\" + msg.req.params.topic + \"'\" +\n\" AND (\" + msg.req.authFilter + \");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "b6ddb1ef4c330b1c"
            ]
        ]
    },
    {
        "id": "b6ddb1ef4c330b1c",
        "type": "mysql",
        "z": "8cb95c810424a70e",
        "mydb": "e3bac82c62f7412e",
        "name": "",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "4b6ba6c9533d7667"
            ]
        ]
    },
    {
        "id": "48e1941e985acadc",
        "type": "function",
        "z": "8cb95c810424a70e",
        "name": "create query",
        "func": "// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n    msg.req.params.count = 1;\n\n// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\n    msg.req.authFilter = 1;\nmsg.topic = \"DELETE thingData\" + \" WHERE deleted=1\" + \" AND\" + \" topic='\" + msg.req.params.topic + \"'\" + \" AND (\" + msg.req.authFilter + \")\" + \" ORDER BY id DESC LIMIT \" + msg.req.params.count + \";\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "b6ddb1ef4c330b1c"
            ]
        ]
    },
    {
        "id": "8b57cdb5bbf8938f",
        "type": "function",
        "z": "8cb95c810424a70e",
        "name": "create query",
        "func": "// if required record count is not specified\n// set default to 1\nif(!msg.req.params.count)\n    msg.req.params.count = 1;\n\n// if no authentication filter defined or available\n// set the default value as 1\nif(!msg.req.authFilter)\n    msg.req.authFilter = 1;\nmsg.topic = \"DELETE thingData\" + \" WHERE deleted=1\" + \" AND\" + \" topic='\" + msg.req.params.topic + \"'\" + \" AND (\" + msg.req.authFilter + \")\" + \" ORDER BY id ASC LIMIT \" + msg.req.params.count + \";\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "b6ddb1ef4c330b1c"
            ]
        ]
    },
    {
        "id": "4b6ba6c9533d7667",
        "type": "function",
        "z": "8cb95c810424a70e",
        "name": "prepare response",
        "func": "// Prepare response\nmsg.payload = {\n\"found\": msg.payload.affectedRows,\n\"changed\": msg.payload.changedRows,\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 240,
        "wires": [
            [
                "1c2999c330bc6ec3"
            ]
        ]
    },
    {
        "id": "1c2999c330bc6ec3",
        "type": "http response",
        "z": "8cb95c810424a70e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 240,
        "wires": []
    }
]